In [1]:
import pandas as pd
from unidecode import unidecode

In [33]:
df = pd.read_excel('prueba_datos.xlsx')
print(df.dtypes)
df = df.applymap(lambda s: s.upper() if type(s) == str else s)
df = df.applymap(lambda s: unidecode(s) if type(s) == str else s)
print(df.dtypes)
display(df)
#df.apply()

nombre            object
edad               int64
amigos            object
casa              object
fecha     datetime64[ns]
dtype: object
nombre            object
edad               int64
amigos            object
casa              object
fecha     datetime64[ns]
dtype: object

    nombre  edad        amigos            casa      fecha
0     JUAN     11        MARTA      MAURE 3038 2001-01-01
1  NICOLAS     21       RAMIRO  RODRIGUEZ PENA 2002-02-02
2    MARIA     35       TINTIN        CALABAZA 2005-04-03
3    PEDRO      4  ARISTOTELES        PENELOPE 2008-07-06